.loader {
  display: none;
}

.loader.visible {
  display: block;
  /* Add your desired styles for the visible loader */
}

.breed-select {
  display: none;
}

.breed-select.visible {
  display: block;
}

.cat-info {
  display: none;
}

.cat-info.visible {
  display: flex;
}

.error {
  display: none;
}

.error.visible {
  display: block;
}

.cat-info {
  margin-left: 20px;
}

.information {
  width: 400px;
  margin-left: 30px;
}
.animal_img {
  object-fit: cover;
  width: 300px;
  height: auto;
}
