.cat-info {
  display: flex;
}
.animal_img {
  object-fit: cover;
  width: 300px;
  height: auto;
}

.loader {
  display: none;
}

.loader.visible {
  display: block;
  /* Add your desired styles for the visible loader */
}

.breed-select {
  display: none;
}

.breed-select.visible {
  display: block;
  /* Add your desired styles for the visible breed select */
}

.cat-info {
  display: none;
}

.cat-info.visible {
  display: block;
  /* Add your desired styles for the visible cat info */
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

.error {
  display: none;
}

.error.visible {
  display: block;
  /* Add your desired styles for the visible error message */
}
